.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 25%;
  min-height: 100vh;
}

.mainSection {
  background-color: #f3f8fb;
  padding: 2rem 1rem 2rem 2rem;
  display: flex;
  flex-direction: column;
}

.productList {
  height: -webkit-fill-available;
}

.ProductsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.ProductImageDiv {
  display: inline-block;
  position: relative;
}

.ProductImage {
  position: relative;
  display: inline-block;
  width: 300px;
  height: -webkit-fill-available;
}

.ProductCard {
  border: 1px solid #bbb9b9;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 80% 20%;
}

.Icons {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.productDetails {
  background-color: #ffffff;
  padding: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.ProductDetailDiv {
  display: grid;
  width: -webkit-fill-available;
  gap: 1rem;
}

.Heading {
  font-size: 20px;
  font-weight: 600;
}

.ProductContainer {
  padding: 1rem 1rem 2rem 3rem;
  background-color: #f3f8fb;
}

.ProductItem {
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  padding: 2rem;
  gap: 2rem;
}

.ProductName {
  font-size: 24px;
  padding: 0.5rem 0 1rem;
}

.ProductQuantity {
  font-weight: bold;
}

.ProductForm {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  align-items: center;
}

.ProductFormQuantity {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.Quantity {
  border: 1px solid #bbb9b9;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.button {
  border: 1px solid #24878e;
  padding: 8px 30px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  background: transparent;
  color: inherit;
}

.ProductDetailSubmitButton {
  border: 1px solid #24878e;
  padding: 10px 80px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  background: transparent;
  color: inherit;
}

.BlackText {
  color: #000000;
}

.FlexContainer {
  display: flex;
  gap: 0.2rem;
}

.ProductsFilterContainer {
  display: grid;
  justify-content: flex-end;
  padding: 0 0 0.5rem;
}

.FilterButtons {
  display: flex;
  gap: 1rem;
  padding-top: 0.2rem;
}

.CheckButton {
  border: 1px solid #f3f8fb;
  padding: 8px 20px 8px 3px;
  font-size: 14px;
  cursor: pointer;
  color: inherit;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.CraftableButton {
  position: absolute;
  right: 0.3rem;
  top: 0.5rem;
  border: none;
  padding: 8px 30px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  background: #92dde0;
  color: #24878e;
  display: block;
  font-weight: bold;
}
.UnCraftableButton {
  position: absolute;
  right: 0.3rem;
  top: 0.5rem;
  border: none;
  padding: 8px 30px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  background: #ece6bd;
  color: #f89000;
  font-weight: bold;
}

.CraftButton {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.CraftStatusButtonDiv {
  display: grid;
  align-items: flex-start;
  justify-content: flex-end;
  width: -webkit-fill-available;
}

.CraftStatusButton {
  border: none;
  padding: 8px 30px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  background: #92dde0;
  color: #24878e;
  display: block;
  font-weight: bold;
}

.UnCraftableStatusButton {
  border: none;
  padding: 8px 30px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  background: #ece6bd;
  color: #f89000;
  font-weight: bold;
}

.MaterialsGrid {
  display: grid;
  grid-gap: 1rem;
}

.MaterialsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem;
}

.ThumbnailImage {
  width: 50px;
  height: 50px;
}
.MaterialContainer {
  display: flex;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.ThumbnailDetails {
  width: -webkit-fill-available;
}

.ProductChecklistButton {
  border: none;
  padding: 8px 30px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  background: #92dde0;
  color: #ffffff;
  display: block;
  font-weight: bold;
}
